<style type=text/css>  

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: white;
}

.wrapper .section .footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 270px;
  padding-left: 50px;
  padding-bottom: 0px;
  background-color: #7A3E26;
  color: white;
  text-align: center;
  font-family: Candara;
}

.wrapper .section .footer a:hover {
  text-decoration: underline;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
}

body h1 {

   text-align: center;
   font-family: Candara;
}

body p {
   font-family: Helvetica;
   font-color: #7A3E26;
}

.wrapper .sidebar{
    background: #F7E7CE;
    position: fixed;
    top: 0;
    right: 0;
    width: 150px;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
    top: 0;
    left: 0;
    padding: 15px 0;
    transition: all 0.5s ease;
}

.wrapper .sidebar .cglogo{
    margin-bottom: 0px;
    text-align: center;
}

.wrapper .sidebar .cglogo img{
    display: block;
    width: 125;
    height: 125;
    margin: 0 auto;
}

.wrapper .sidebar .cglogo h3{
    color: #7A3E26;
    margin: 10px 0 5px;
    font-family: Candara;
}

.wrapper .sidebar .cglogo p{
    color: black;
    font-size: 10px;
    font-family: Helvetica;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid white;
    color: rgb(241, 237, 237);
    font-size: 14px;
    position: relative;
}

.wrapper .sidebar ul li a .dropdown-btn{
  color: #CF6856;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}

.dropdown-btn .active {
  background-color: white;
  text-color: #CF6856;
  text-decoration: underline;
}

.wrapper .sidebar ul li a .icon{
    color: #CF6856;
    width: 30px;
    display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  color: #0c7db1;
  background:white;
  text-decoration: underline;
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #7A3E26;
  text-decoration: underline;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
  text-decoration: underline;
}

.wrapper .sidebar a:hover, .dropdown-btn:hover {
  color: #7A3E26;
  display: block;
  text-decoration: underline;
}

.wrapper .sidebar ul li a .dropdown-container {
  display: none;
  background-color: white;
  font-size: 14px;
  color: black;
  padding-left: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.wrapper .section{
    width: calc(100%);
    margin-right: 25px;
    transition: all 0.5s ease;
}

.wrapper .section .top_navbar ul{
    list-style-type: none;
    background: #7A3E26;
    height: 55px;
    width : 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    overflow: hidden;
    top: 0;
}

.wrapper .section .top_navbar li {
  float: right;
}

.wrapper .section .top_navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.wrapper .section .top_navbar li a:hover:not(.active) {
  background-color: #CF6856;
}

.wrapper .section .top_navbar .active {
  background-color: #7A3E26;
  text-decoration: underline;
}

.wrapper .section .container{
	margin: 25px;
	background: #FAF0E6;
	padding: 50px;
	line-height: 28px;
}

body.active .wrapper .section{
	margin-right: 0;
	width: 100%;
}

<!---START OF NAVIGATION BAR DROP DOWN MENU--->
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #CF6856;
}

.dropdown-contentop {
  display: none;
  position: absolute;
  background-color: #CF6856;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-contentop a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-contentop a:hover {
  background-color: white;
  text-decoration: underline;
}

.dropdown:hover .dropdown-contentop {
  display: block;
}

<!---END OF NAVIGATION BAR DROP DOWN MENU--->

<!---INVISIBLE TABLE FOR FOOTER--->
table, th, td {
  border: none;
  border-collapse: collapse;

}
th, td {
  background-color: #7A3E26;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
} 
<!---END OF INVISIBLE TABLE FOR FOOTER--->

<!---START BUTTON DAILY MEALS--->

.buttondm {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonbf {
  background-color: #F7E7CE;
  font-size: 100%;
  padding: 12px 28px;
  border-radius: 12px;
  border: 2px solid #CF6856;
  width: 20%;
}

.buttonbf:hover {
  background-color: #CF6856;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonlu {
  background-color: #F7E7CE;
  font-size: 100%;
  padding: 12px 28px;
  border-radius: 12px;
  border: 2px solid #CF6856;
  width: 20%;
}

.buttonlu:hover {
  background-color: #CF6856;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonet {
  background-color: #F7E7CE;
  font-size: 100%;
  padding: 12px 28px;
  border-radius: 12px;
  border: 2px solid #CF6856;
  width: 20%;
}

.buttonet:hover {
  background-color: #CF6856;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttondi {
  background-color: #F7E7CE;
  font-size: 100%;
  padding: 12px 28px;
  border-radius: 12px;
  border: 2px solid #CF6856;
  width: 20%;
}

.buttondi:hover {
  background-color: #CF6856;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.buttonbf span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonbf span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonbf:hover span {
  padding-right: 25px;
}

.buttonbf:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonlu span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonlu span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonlu:hover span {
  padding-right: 25px;
}

.buttonlu:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonet span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonet span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonet:hover span {
  padding-right: 25px;
}

.buttonet:hover span:after {
  opacity: 1;
  right: 0;
}

.buttondi span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttondi span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttondi:hover span {
  padding-right: 25px;
}

.buttondi:hover span:after {
  opacity: 1;
  right: 0;
}

<!---END OF BUTTON DAILY MEALS--->

<!---START POPUP CALLOUT AD--->
.callout {
  position: fixed;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 300px;
}

.callout-header {
  padding: 25px 15px;
  background: #555;
  font-size: 30px;
  color: white;
}

.callout-container {
  padding: 15px;
  background-color: #ccc;
  color: black
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.closebtn:hover {
  color: lightgrey;
}
<!---END OF POPUP CALLOUT AD--->

 .square-flip{
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;


    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    transform: perspective(1000px);

    -webkit-transform-style: preserve-3d; 
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
    transform-style: preserve-3d; 

    /*border:1px solid #F7E7CE*/
    
    position:relative;
    float:left;
    margin:20px;

    }
    .square-flip{
      width:400px;
      height:400px;

    }
    .square,.square2{
      width:100%;
      height:100%;
    }
    .square{

      background-size: cover;
      background-position:center center;

      -ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
          transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
          -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
      overflow: hidden;

      position:absolute;
      top:0;


      -webkit-backface-visibility: hidden; 
      backface-visibility: hidden;
    }
    .square-flip .square{
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
      transform-style: preserve-3d;
      z-index:1;
    }
    .square-flip:hover .square{
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      -o-transform: rotateY(-180deg);
      -ms-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
      transform-style: preserve-3d;
    }


    .square2{

      background-size: cover;
      background-position:center center;

      -ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
          transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
          -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
      overflow: hidden;

      position:absolute;
      top:0;

      -webkit-backface-visibility: hidden; 
      backface-visibility: hidden;
    }
    .square-flip .square2{
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      transform: rotateY(180deg);
      transform-style: preserve-3d;
      z-index:1;
    }
    .square-flip:hover .square2{
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
      transform-style: preserve-3d;
    }

    /*Square content*/
    .square-container{
      padding:40px;
      text-align:center;
      position:relative;
      top:50%;
      background-color:#CF6856;


      -ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
          transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
          -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);

    
      -webkit-transform: translateY(-50%) translateX(0px)  scale(1);
      -ms-transform: translateY(-50%) translateX(0px)  scale(1);
  transform: translateY(-50%) translateX(0px)  scale(1);
      transform-style: preserve-3d;
      z-index:2;
    }
    .square-flip:hover .square-container{
      
      -webkit-transform: translateY(-50%) translateX(-650px)  scale(.88);
      -ms-transform: translateY(-50%) translateX(-650px)  scale(.88);
      transform: translateY(-50%) translateX(-650px)  scale(.88);
      transform-style: preserve-3d;

    }

    .square-container2{
      padding:40px;
      text-align:center;
      position:relative;
      top:50%;


      -ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
          transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
          -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);

      
      -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
      -ms-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
      transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);

      transform-style: preserve-3d;
      z-index:2;
    }
    .square-flip:hover .square-container2{
      
      -webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
      -ms-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
      transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
      transform-style: preserve-3d;
    }

    /*Style text*/
    .square-flip h2{
      color:white;
      font-family: Helvetica;
      font-weight:700;
      font-size:22px;
    }
    .square-flip h3{
      color:white;
      font-family: Helvetica;
      font-weight:500;
      font-size:16px;
      line-height:26px;
    }
    /*Elements*/
    .flip-overlay{
      display:block;
      background:rgba(0,0,0,0.5);
      width:100%;
      height:100%;
      position:absolute;
      top:0;
    }
    .align-center{
      margin:0 auto;
      background-color:#CF6856;
    }
    .kallyas-button{
      display:block;
      width:160px;
      padding:18px 30px;
      font-family:Helvetica;
      font-weight:600;
      color:#F7E7CE;
      background:#F7E7CE;
      margin:0 auto;
      border-radius:2px;
      text-decoration:none;
    }


    /*ADD SHADOWS OPTIONAL*/
    .square-flip .square .boxshadow, .square-flip .square .textshadow, .square-flip .square2 .boxshadow, .square-flip .square2 .textshadow{
      -ms-transition: 0.60s;
          transition: 0.60s;
          -webkit-transition: 0.60s;
    }

    .square-flip .square .boxshadow{
      -webkit-box-shadow: 24px 42px 58px -8px rgba(0,0,0,0.3);
      -moz-box-shadow: 24px 42px 58px -8px rgba(0,0,0,0.3);
      box-shadow: 24px 42px 58px -8px rgba(0,0,0,0.3);
    }
    .square-flip .square .textshadow{
      -webkit-text-shadow: 24px 42px 58px -8px rgba(0,0,0,0.3);
      -moz-text-shadow: 24px 42px 58px -8px rgba(0,0,0,0.3);
      text-shadow: 24px 42px 58px -8px rgba(0,0,0,0.3);
    }
    .square-flip:hover .square .boxshadow, .square-flip:hover .square .textshadow{
      -webkit-box-shadow: 240px 42px 58px -8px rgba(0,0,0,0.0);
      -moz-box-shadow: 240px 42px 58px -8px rgba(0,0,0,0.0);
      box-shadow: 240px 42px 58px -8px rgba(0,0,0,0.0);
    }


    .square-flip .square2 .boxshadow{
      -webkit-box-shadow: 240px 42px 58px -8px rgba(0,0,0,0.0);
      -moz-box-shadow: 240px 42px 58px -8px rgba(0,0,0,0.0);
      box-shadow: 240px 42px 58px -8px rgba(0,0,0,0.0);
    }
    .square-flip .square2 .textshadow{
      -webkit-text-shadow: 240px 42px 58px -8px rgba(0,0,0,0.0);
      -moz-text-shadow: 240px 42px 58px -8px rgba(0,0,0,0.0);
      text-shadow: 240px 42px 58px -8px rgba(0,0,0,0.0);
    }
    .square-flip:hover .square2 .boxshadow, .square-flip:hover .square2 .textshadow{
      -webkit-box-shadow: 24px 42px 58px -8px rgba(0,0,0,0.3);
      -moz-box-shadow: 24px 42px 58px -8px rgba(0,0,0,0.3);
      box-shadow: 24px 42px 58px -8px rgba(0,0,0,0.3);
    }
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #F7E7CE;
  float: right;
  margin-left: 5px;
}

.activea:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.square-flip{
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;

    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    transform: perspective(1000px);

    -webkit-transform-style: preserve-3d; 
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
    transform-style: preserve-3d; 

    /*border:1px solid #efefef;*/
    
    position:relative;
    float:left;
    margin:20px;

    }
    .square-flip{
      width:400px;
      height:400px;

    }
    .square,.square2{
      width:100%;
      height:100%;

    }
    .square{

      background-size: cover;
      background-position:center center;

      -ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
          transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
          -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
      overflow: hidden;
      position:absolute;
      top:0;


      -webkit-backface-visibility: hidden; 
      backface-visibility: hidden;
    }
    .square-flip .square{
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
      transform-style: preserve-3d;
      z-index:1;
    }
    .square-flip:hover .square{
      -webkit-transform: rotateY(-180deg);
      -moz-transform: rotateY(-180deg);
      -o-transform: rotateY(-180deg);
      -ms-transform: rotateY(-180deg);
      transform: rotateY(-180deg);
      transform-style: preserve-3d;
    }


    .square2{

      background-size: cover;
      background-position:center center;

      -ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
          transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
          -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
      overflow: hidden;

      position:absolute;
      top:0;

      -webkit-backface-visibility: hidden; 
      backface-visibility: hidden;
    }
    .square-flip .square2{
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      transform: rotateY(180deg);
      transform-style: preserve-3d;
      z-index:1;
    }
    .square-flip:hover .square2{
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
      transform-style: preserve-3d;
    }

    /*Square content*/
    .square-container{
      padding:40px;
      text-align:center;
      position:relative;
      top:50%;

      -ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
          transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
          -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);

    
      -webkit-transform: translateY(-50%) translateX(0px)  scale(1);
      -ms-transform: translateY(-50%) translateX(0px)  scale(1);
  transform: translateY(-50%) translateX(0px)  scale(1);
      transform-style: preserve-3d;
      z-index:2;
    }
    .square-flip:hover .square-container{
      
      -webkit-transform: translateY(-50%) translateX(-650px)  scale(.88);
      -ms-transform: translateY(-50%) translateX(-650px)  scale(.88);
      transform: translateY(-50%) translateX(-650px)  scale(.88);
      transform-style: preserve-3d;

    }

    .square-container2{
      padding:40px;
      text-align:center;
      position:relative;
      top:50%;

      -ms-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
          transition: transform 0.60s cubic-bezier(.5,.3,.3,1);
          -webkit-transition: transform 0.60s cubic-bezier(.5,.3,.3,1);

      
      -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
      -ms-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);
      transform: translateY(-50%) translateX(650px) translateZ(60px) scale(.88);

      transform-style: preserve-3d;
      z-index:2;
    }
    .square-flip:hover .square-container2{
      
      -webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
      -ms-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
      transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
      transform-style: preserve-3d;
    }



    /*Style text*/
    .square-flip h2{
      color:white;
      font-family: "Open Sans";
      font-weight:700;
      font-size:22px;
      background-color:#CF6856;

    }
    .square-flip h3{
      color:white;
      font-family: "Open Sans";
      font-weight:500;
      font-size:16px;
      line-height:26px;
      background-color:#CF6856;

    }
    /*Elements*/
    .flip-overlay{
      display:block;
      background:rgba(0,0,0,0.5);
      width:100%;
      height:100%;
      position:absolute;
      top:0;
    }
    .align-center{
      margin:0 auto;
    }
    .kallyas-button{
      display:block;
      width:160px;
      padding:18px 30px;
      font-family:"Open Sans";
      font-weight:600;
      color:#F7E7CE;
      background:#F7E7CE;
      margin:0 auto;
      border-radius:2px;
      text-decoration:none;

      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa067+0,ff2959+49,ff2024+100 */
      background: #F7E7CE}


    /*ADD SHADOWS OPTIONAL*/
    .square-flip .square .boxshadow, .square-flip .square .textshadow, .square-flip .square2 .boxshadow, .square-flip .square2 .textshadow{
      -ms-transition: 0.60s;
          transition: 0.60s;
          -webkit-transition: 0.60s;
    }

    .square-flip .square .boxshadow{
      -webkit-box-shadow: 24px 42px 58px -8px rgba(0,0,0,0.3);
      -moz-box-shadow: 24px 42px 58px -8px rgba(0,0,0,0.3);
      box-shadow: 24px 42px 58px -8px rgba(0,0,0,0.3);
    }
    .square-flip .square .textshadow{
      -webkit-text-shadow: 24px 42px 58px -8px rgba(0,0,0,0.3);
      -moz-text-shadow: 24px 42px 58px -8px rgba(0,0,0,0.3);
      text-shadow: 24px 42px 58px -8px rgba(0,0,0,0.3);
    }
    .square-flip:hover .square .boxshadow, .square-flip:hover .square .textshadow{
      -webkit-box-shadow: 240px 42px 58px -8px rgba(0,0,0,0.0);
      -moz-box-shadow: 240px 42px 58px -8px rgba(0,0,0,0.0);
      box-shadow: 240px 42px 58px -8px rgba(0,0,0,0.0);
    }


    .square-flip .square2 .boxshadow{
      -webkit-box-shadow: 240px 42px 58px -8px rgba(0,0,0,0.0);
      -moz-box-shadow: 240px 42px 58px -8px rgba(0,0,0,0.0);
      box-shadow: 240px 42px 58px -8px rgba(0,0,0,0.0);
    }
    .square-flip .square2 .textshadow{
      -webkit-text-shadow: 240px 42px 58px -8px rgba(0,0,0,0.0);
      -moz-text-shadow: 240px 42px 58px -8px rgba(0,0,0,0.0);
      text-shadow: 240px 42px 58px -8px rgba(0,0,0,0.0);
    }
    .square-flip:hover .square2 .boxshadow, .square-flip:hover .square2 .textshadow{
      -webkit-box-shadow: 24px 42px 58px -8px rgba(0,0,0,0.3);
      -moz-box-shadow: 24px 42px 58px -8px rgba(0,0,0,0.3);
      box-shadow: 24px 42px 58px -8px rgba(0,0,0,0.3);
    }

   
}




.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.activea:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}





